USE [master]
GO
/****** Object:  Database [C:\TEMP\WEBAPPLICATION\WEBAPPLICATION1\APP_DATA\DATABASE1.MDF]    Script Date: 26-1-2022 10:30:58 ******/
CREATE DATABASE [C:\TEMP\WEBAPPLICATION\WEBAPPLICATION1\APP_DATA\DATABASE1.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database1', FILENAME = N'C:\Temp\WebApplication\WebApplication1\App_Data\Database1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database1_log', FILENAME = N'C:\Temp\WebApplication\WebApplication1\App_Data\Database1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\TEMP\WEBAPPLICATION\WEBAPPLICATION1\APP_DATA\DATABASE1.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\TEMP\WEBAPPLICATION\WEBAPPLICATION1\APP_DATA\DATABASE1.MDF]
GO
/****** Object:  Table [dbo].[air_operator]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[air_operator](
	[id_air_operator] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[aop_type] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_air_operator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] NOT NULL,
	[companyname] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[country] [varchar](100) NULL,
	[no_of_employees] [numeric](3, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance](
	[id_maintenance] [int] IDENTITY(1000001,1) NOT NULL,
	[id_component] [int] NULL,
	[man_id_manufacturer] [int] NULL,
	[mo_id_mo] [int] NULL,
	[aop_id_air_operator] [int] NULL,
	[prs_id_person] [int] NULL,
	[work_order_id] [varchar](20) NULL,
	[date_finished] [date] NULL,
	[maintenance] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_maintenance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturer]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturer](
	[id_manufacturer] [int] NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mo]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mo](
	[id_mo] [int] NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[id_person] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[contact_for_man] [int] NULL,
	[contact_for_mo] [int] NULL,
	[contact_for_aop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_person] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unit]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unit](
	[id_unit] [int] NOT NULL,
	[description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weight]    Script Date: 26-1-2022 10:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weight](
	[id_weight] [int] IDENTITY(1000001,1) NOT NULL,
	[date] [date] NULL,
	[weight] [numeric](6, 2) NULL,
	[unt_id_unit] [int] NULL,
	[weighed_man_id_manufacturer] [int] NULL,
	[weighed_mo_id_mo] [int] NULL,
	[use_decimal] [char](1) NULL,
	[remarks] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_weight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[air_operator] ([id_air_operator], [name], [aop_type]) VALUES (1000001, N'Air operator 1', N'person    ')
INSERT [dbo].[air_operator] ([id_air_operator], [name], [aop_type]) VALUES (1000002, N'Air operator 2', N'company   ')
INSERT [dbo].[air_operator] ([id_air_operator], [name], [aop_type]) VALUES (1000003, N'Air operator 3', N'company   ')
GO
INSERT [dbo].[customers] ([id], [companyname], [city], [country], [no_of_employees]) VALUES (1, N'Company 1 with a long name', N'City A with an even longer city name', N'Country A', CAST(2 AS Numeric(3, 0)))
INSERT [dbo].[customers] ([id], [companyname], [city], [country], [no_of_employees]) VALUES (2, N'Company 2', N'City A', N'Country A', CAST(3 AS Numeric(3, 0)))
INSERT [dbo].[customers] ([id], [companyname], [city], [country], [no_of_employees]) VALUES (3, N'Company 3', N'City A', N'Country A', CAST(4 AS Numeric(3, 0)))
GO
SET IDENTITY_INSERT [dbo].[maintenance] ON 

INSERT [dbo].[maintenance] ([id_maintenance], [id_component], [man_id_manufacturer], [mo_id_mo], [aop_id_air_operator], [prs_id_person], [work_order_id], [date_finished], [maintenance]) VALUES (1000021, 1000123, NULL, NULL, 1000004, 1000009, N'001', CAST(N'2022-01-25' AS Date), N'Added by User 1')
INSERT [dbo].[maintenance] ([id_maintenance], [id_component], [man_id_manufacturer], [mo_id_mo], [aop_id_air_operator], [prs_id_person], [work_order_id], [date_finished], [maintenance]) VALUES (1000022, 1000123, NULL, NULL, 1000004, 1000009, N'002', CAST(N'2022-01-25' AS Date), N'Added  by User 1
Changed by User 1')
INSERT [dbo].[maintenance] ([id_maintenance], [id_component], [man_id_manufacturer], [mo_id_mo], [aop_id_air_operator], [prs_id_person], [work_order_id], [date_finished], [maintenance]) VALUES (1000023, 1000123, NULL, 1000005, NULL, NULL, N'003', CAST(N'2022-01-25' AS Date), N'Added by User 2')
SET IDENTITY_INSERT [dbo].[maintenance] OFF
GO
INSERT [dbo].[manufacturer] ([id_manufacturer], [name]) VALUES (1000001, N'Manufacturer 1                                    ')
INSERT [dbo].[manufacturer] ([id_manufacturer], [name]) VALUES (1000002, N'Manufacturer 2                                    ')
INSERT [dbo].[manufacturer] ([id_manufacturer], [name]) VALUES (1000003, N'Manufacturer 3                                    ')
GO
INSERT [dbo].[mo] ([id_mo], [name]) VALUES (1000001, N'Organisation 1                                    ')
INSERT [dbo].[mo] ([id_mo], [name]) VALUES (1000002, N'Organisation 2                                    ')
INSERT [dbo].[mo] ([id_mo], [name]) VALUES (1000003, N'Organisation 3                                    ')
GO
INSERT [dbo].[person] ([id_person], [name], [contact_for_man], [contact_for_mo], [contact_for_aop]) VALUES (1000001, N'Person 1', NULL, NULL, NULL)
INSERT [dbo].[person] ([id_person], [name], [contact_for_man], [contact_for_mo], [contact_for_aop]) VALUES (1000002, N'Person 2', NULL, 1000004, NULL)
INSERT [dbo].[person] ([id_person], [name], [contact_for_man], [contact_for_mo], [contact_for_aop]) VALUES (1000003, N'Person 3', NULL, 1000001, NULL)
GO
INSERT [dbo].[unit] ([id_unit], [description]) VALUES (1000001, N'kg')
INSERT [dbo].[unit] ([id_unit], [description]) VALUES (1000002, N'lbs')
INSERT [dbo].[unit] ([id_unit], [description]) VALUES (1000003, N'gr')
GO
SET IDENTITY_INSERT [dbo].[weight] ON 

INSERT [dbo].[weight] ([id_weight], [date], [weight], [unt_id_unit], [weighed_man_id_manufacturer], [weighed_mo_id_mo], [use_decimal], [remarks]) VALUES (1000001, CAST(N'2021-12-02' AS Date), CAST(25.00 AS Numeric(6, 2)), 1000001, NULL, 1000002, N'F', N'mo')
INSERT [dbo].[weight] ([id_weight], [date], [weight], [unt_id_unit], [weighed_man_id_manufacturer], [weighed_mo_id_mo], [use_decimal], [remarks]) VALUES (1000004, CAST(N'2021-12-05' AS Date), CAST(70.00 AS Numeric(6, 2)), 1000001, 1000001, NULL, N'F', N'man')
INSERT [dbo].[weight] ([id_weight], [date], [weight], [unt_id_unit], [weighed_man_id_manufacturer], [weighed_mo_id_mo], [use_decimal], [remarks]) VALUES (1000005, CAST(N'2021-12-07' AS Date), CAST(4.00 AS Numeric(6, 2)), 1000001, NULL, 1000005, N'F', N'mo')
SET IDENTITY_INSERT [dbo].[weight] OFF
GO
USE [master]
GO
